/*
Syntax error: Invalid CSS after "...'t use black *\/": expected "{", was "$near-black:  #..."
        on line 10 of sass/_variables.scss
        from line 6 of sass/i.scss

5: /* Colors
6:    ========================================================================== *\/
7: 
8: /* Don't use black *\/
9: 
10: $near-black:  #111;
11: $white: #fff;
12: 
13: /* Gray scale *\/
14: 
15: $gray-dark:   #222;

Backtrace:
sass/_variables.scss:10
sass/i.scss:6
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:1146:in `expected'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:1084:in `expected'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:533:in `block'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:542:in `block_contents'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/engine.rb:274:in `to_tree'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/donielle.berg/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...'t use black */\": expected \"{\", was \"$near-black:  #...\"\A         on line 10 of sass/_variables.scss\A         from line 6 of sass/i.scss\A \A 5: /* Colors\A 6:    ========================================================================== */\A 7: \A 8: /* Don't use black */\A 9: \A 10: $near-black:  #111;\A 11: $white: #fff;\A 12: \A 13: /* Gray scale */\A 14: \A 15: $gray-dark:   #222;"; }
